**/node_modules
dist/**
build/**
target/**
.turbo
node_modules/**

package-lock.json
.env
secret.json
coverage/
.nyc_output/
temp/
**/tests/results.txt

sitemap.xml
vite.config.ts.*

.beet_cache
.DS_Store

docker-compose.dev.yaml

typesense.ts

**/data-types/index.d.ts
**/data-types/index.js

.vscode/
*.code-workspace