:root {
    font-family: 'Lexend';
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background: var(--background);

    --bold: #080809;
    --background: #121213;
    --section: #1D1F21;
    --highlight: #2E2E31;
    --border: #2E2E31;
    --foreground: #FFF8F0;
    --accent: #1b48c4;
    --accent2: #23A3FF;
    
    --warning: #E8AA03;
    --distrubing: #C41B48;
    --success: #1BC443;
    --secondary: #C41B9C;

    --backgroundDark: #1b1924;

    --badAccent: rgb(255, 72, 72);
    --goodAccent: rgb(144, 255, 71);
    --foreground: #fff;
    --text: #fff;
    --codeText: rgb(255, 247, 136);
    --subText: #aaa;
    --smallScreenSize: 640px;

    --defaultBorderRadius: 16px;
    overflow: hidden;
}

@font-face {
    font-family: 'Inconsolata';
    src: local('Inconsolata'),
        url('./fonts/Inconsolata.otf') format('opentype')
}


@font-face {
    font-family: 'DoppioOne';
    src: local('DoppioOne'),
        url('./fonts/DoppioOne-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Lexend';
    src: local('Lexend'),
        url('./fonts/Lexend-VariableFont_wght.ttf') format('truetype')
}

div {
    font-family: Lexend;
    color: var(--text)
}

h1 {
    font-size: clamp(calc(3rem * var(--headerModifier)), calc(4rem * var(--headerModifier)), calc(4rem * var(--headerModifier)));
    font-family: DoppioOne;
    letter-spacing: 2px;
}

h2 {
    font-size: clamp(calc(2.5rem * var(--headerModifier)), calc(3.5rem * var(--headerModifier)), calc(3.5rem * var(--headerModifier)));
    font-family: DoppioOne;
    font-weight: normal;
}

code {
    color: var(--codeText);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    box-sizing: border-box;
    line-height: 36px;
    border-radius: var(--defaultBorderRadius);
}


pre {
    color: var(--codeText);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    border-radius: var(--defaultBorderRadius);
}

details {
    background-color: var(--section);
    padding: 16px;
    border-radius: var(--defaultBorderRadius);
    margin-bottom: 4px;
}

summary:hover {
    filter: brightness(80%);
}

summary:active {
    filter: brightness(60%);
}

::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */

}


::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: var(--subText);
    /* color of the scroll thumb */
    border-radius: var(--defaultBorderRadius);
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
    border: 2px solid var(--section);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent2);
}


input,
select {
    border: none;
    border-radius: var(--defaultBorderRadius);
    padding: 8px;
    font-family: Lexend;
    font-size: 1rem;
    border: 2px solid transparent;
    box-sizing: border-box;
}


input:focus, select:focus {
    outline: none;
    border: 2px solid var(--accent);
}

input:hover, select:hover {
    border: 2px solid var(--border);
}

select select {
    background-color: red;
}

input:disabled {
    color: var(--subText) !important;
    font-style: italic;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea,
select {
    background-color: var(--section);

    color: var(--foreground);
    width: 256px;
}

input::placeholder {
    color: var(--foreground);
    opacity: 0.5;
}


input[type="button"] {
    background-color: var(--accent);
    width: 128px;
    color: var(--foreground);
}

input[type="button"]:hover,
select:hover {
    filter: brightness(85%);
}

input[type="button"]:active,
select:active {
    filter: brightness(60%);
}

input[type="button"]:active {
    transform: scale(105%);
}


select {
    background-image: url(./assets/green_down-arrow.png);
    background-blend-mode: overlay;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

button, .buttonLike {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;
    
    height: 36px;
    
    text-decoration: none;
    /* Section */

    white-space: nowrap;
    
    box-sizing: border-box;
    background: var(--section);
    border-radius: 16px;
    border: 2px solid transparent;

    
    font-family: 'Lexend';
    font-size: 1rem;
    
    color: var(--foreground);

    transition: background-color, border 0.1s;
    cursor: pointer;
}
button:hover, .buttonLike:hover {
    /* Highlight */

    background: var(--section);
    /* Border */

    border: 2px solid var(--border);
}

button:focus, .buttonLike:focus {
    outline: none;
    border: 2px solid var(--foreground);
}


button:active, .buttonLike:active {
    filter: brightness(90%);
}

.accentedButtonLike {
    background-color: var(--accent);
}

.disturbingButtonLike {
    background-color: var(--distrubing);
}

.successButtonLike {
    background-color: var(--success);
}

.secondaryButtonLike {
    background-color: var(--secondary);
}


.footerContainer {
    display: grid;
    grid-template: auto / 66% 16% 16%;
    padding: 64px 0px;
    box-sizing: border-box;
}

.footerLargeGroup,
.footerSmallGroup {
    justify-content: start;
}

.footerSmallGroup {
    width: 100%;
    gap: 16px;
}

.footerLargeGroup {
    width: 100%;
    align-items: start;
}


@media screen and (max-width: 70rem) { 
    .main {
        padding: 0px 16px !important;
    }   
    .footerContainer {
        padding: 64px 16px !important;
        grid-template: auto auto auto / auto;
        align-items: center;
        gap: 64px;
    }

    .footerLargeGroup {
        align-items: center;
        text-align: center;
        grid-row: 3;
    }
}

.compactButton { 
    color: var(--foreground);
    cursor: pointer;
    text-decoration: none;
}

.compactButton:hover[href] {
    text-decoration: underline;
}

.compactButton:active[href] {
    opacity: 0.9;
}

