:root {
    font-family: 'Inconsolata';
    background-image: linear-gradient(var(--background), var(--backgroundDark));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    min-height: 100%;
    min-width: 100%;

    --background: #2a2a38;
    --backgroundDark: #1b1924;
    --backgroundAccent: #12121f;
    --accent: #1b48c4;
    --accent2: #6b83c5;
    --badAccent: rgb(255, 72, 72);
    --goodAccent: rgb(144, 255, 71);
    --buttonText: #fff;
    --text: #fff;
    --codeText: rgb(255, 247, 136);
    --subText: #aaa;
    --smallScreenSize: 640px;

    --defaultBorderRadius: 10px;
    overflow: hidden;
}

@font-face {
    font-family: 'Inconsolata';
    src: local('Inconsolata'),
        url('./fonts/Inconsolata.otf') format('opentype')
}


@font-face {
    font-family: 'DoppioOne';
    src: local('DoppioOne'),
        url('./fonts/DoppioOne-Regular.ttf') format('truetype')
}

div {
    font-family: Inconsolata;
    color: var(--text)
}

h1 {
    font-size: clamp(3rem, 4rem, 4rem);
    font-family: DoppioOne;
    letter-spacing: 2px;
}

h2 {
    font-size: clamp(2.5rem, 3.5rem, 3.5rem);
    font-family: DoppioOne;
    font-weight: normal;
}

code {
    color: var(--codeText);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px;
    box-sizing: border-box;
    line-height: 36px;
    border-radius: var(--defaultBorderRadius);
}


pre {
    color: var(--codeText);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    border-radius: var(--defaultBorderRadius);
}


a {
    color: var(--accent2);
    cursor: pointer;
}

a:hover {
    filter: brightness(85%)
}

a:active {
    filter: brightness(60%)
}


details {
    background-color: var(--backgroundAccent);
    padding: 16px;
    border-radius: var(--defaultBorderRadius);
    margin-bottom: 4px;
}

summary:hover {
    filter: brightness(80%);
}

summary:active {
    filter: brightness(60%);
}

::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */

}


::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: var(--subText);
    /* color of the scroll thumb */
    border-radius: var(--defaultBorderRadius);
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
    border: 2px solid var(--backgroundAccent);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent2);
}


input,
select {
    border: none;
    border-radius: var(--defaultBorderRadius);
    padding: 8px;
    font-family: Inconsolata;
    font-size: 1rem;
    border-bottom: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
    box-sizing: border-box;

}

select select {
    background-color: red;
}

input:disabled {
    color: var(--subText) !important;
    font-style: italic;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea,
select {
    background-color: var(--background);

    color: var(--text);
    width: 256px;
}

input::placeholder {
    color: var(--subText)
}

input[type="button"] {
    background-color: var(--accent);
    width: 128px;
    color: var(--buttonText);
}

input[type="button"]:hover,
select:hover {
    filter: brightness(85%);
}

input[type="button"]:active,
select:active {
    filter: brightness(60%);
}

input[type="button"]:active {
    transform: scale(105%);
}


select {
    background-image: url(./assets/green_down-arrow.png);
    background-blend-mode: overlay;
    background-position: right;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}