
@keyframes tokenCopiedAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    33% {
        opacity: 1;
        transform: translateY(0);
    }
    66% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}