.cardCarousel {
    display: grid;
    width: 100%;
    grid-template: auto auto / auto auto;
    grid-auto-flow: column;
    padding: 8px 0px;
    gap: 16px 12px;
    box-sizing: border-box;
}

.homeSectionHeader {
    font-size: 4rem;
    font-weight: 600;
}



.homeSectionContainer {
    align-items: start;
    gap: 24px;
    width: 100%;
}

.homeTextContainer {
    width: 50%;
    margin: 0;
    align-items: start;
    gap: 16px;
}

.homeImageContainer {
    flex-grow: 1;
    width: 50%;
    display: flex;
    justify-content: right;
}

.homeStyledPackCard {
    width: 100%;
}
.homeStyledPackCard:nth-child(1) {
    position: absolute;
    bottom: calc(100% + 2rem);
    opacity: 0;
}
.homeStyledPackCard:nth-child(2) {
    position: relative;
    opacity: 1;
}
.homeStyledPackCard:nth-child(n + 3) {
    display: none;
}

@media screen and (max-width: 70rem) {
    .cardCarousel {
        grid-template: auto auto auto auto auto auto / auto
    }
    .homeImageContainer {
        display: none !important;
    }
    .homeTextContainer {
        width: 100%;
    }
    .homeSectionHeader {
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }
    .homeSectionContainer {
        align-items: center;
    }
}

@keyframes packShowcaseSlideIn {
    0% {
        bottom: calc(100% + 2rem);
        opacity: 0;
    }
    100% {
        bottom: 0%;
        opacity: 1;
    }
}

@keyframes packShowcaseSlideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}