.cardCarousel {
    display: grid;
    width: 100%;
    grid-template: auto auto / auto auto auto;
    grid-auto-flow: column;
    padding: 8px 0px;
    gap: 16px 12px;
    box-sizing: border-box;
}

.homeSectionHeader {
    font-size: 4rem;
    font-weight: 600;
}



.homeSectionContainer {
    align-items: start;
    gap: 24px;
}

.homeTextContainer {
    width: 50%;
    margin: 0;
    align-items: start;
    gap: 16px;
}

.homeImageContainer {
    flex-grow: 1;
    width: 50%;
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 70rem) {
    .cardCarousel {
        grid-template: auto auto auto auto auto auto / auto
    }
    .homeImageContainer {
        display: none !important;
    }
    .homeTextContainer {
        width: 100%;
    }
    .homeSectionHeader {
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }
    .homeSectionContainer {
        align-items: center;
    }
}

@keyframes packShowcaseSlideIn {
    0% {
        margin-left: -80vw;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes packShowcaseSlideOut {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 80vw;
        opacity: 0;
    }
}