
.panelContainer {
    position: absolute;
    display: grid !important;
    top: 0;
    left: 0;
    height: 100vh;
    
}
@media screen and (max-width: 768px) {
    .panelContainer {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}
@media screen and (min-width: 768px) {
    .panelContainer {
        grid-template-columns:auto minmax(auto, 320px);
    }
}
