
.panelContainer {
    position: absolute;
    display: grid !important;
    top: 0;
    height: 100vh;
    place-content: safe start;
}
@media screen and (max-width: 768px) {
    .panelContainer {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}
@media screen and (min-width: 768px) {
    .panelContainer {
        grid-template-columns: auto auto;
    }
}
