.statName {
    background-color: var(--background);
    padding: 16px;
    border-radius: var(--defaultBorderRadius);
    text-align: center;
    font-size: 1.125rem;
    color: var(--subText);
}

.statValue {
    color: var(--text);
    font-size: 1.5rem;
}

@media screen and (max-width: 868px) {
    .statBoxes {
        flex-flow: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .flexDirection {
        flex-direction: column;
        align-items: center;
    }
    .statContainer {
        align-items: center;
        flex-direction: column;
    }
    .userContentRoot {
        width: 100%;
    }
}
@media screen and (min-width: 868px) {
    
    .statBoxes {
        flex-flow: row;
        flex-direction: row; 
        width: 100%;
        justify-content: space-between;
    }

    .flexDirection {
        flex-direction: row;
    }
    .statContainer {
        flex-direction: column;
    }
    .userContentRoot {
        width: 66%;
    }
}

.flexDirection, .statContainer {
    display: flex;
    
}

.statBoxes {
    padding-top: 16px;
    width: 100%;
    gap: 16px;
    height: min-content;
}
