.titlebar {
	height: 30px;
	background: #329ea3;
	user-select: none;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.titlebar-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
}

.titlebar-button:hover {
	background: #5bbec3;
}

.popup {
	background-color: var(--section);
	padding: 2rem;
	position: fixed;
	left: 50vw;
	top: 40vh;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	border-radius: 16px;
	border: 0.125rem solid var(--border);
}

.bigText {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	font-family: Lexend;
}
