.downloadRoot {
    background-color: var(--backgroundAccent);
    width: 100%;
    height: 100%;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



@keyframes pullIn {
    from {
        transform: translateX(60%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}