.filter-button {
    border: 2px solid transparent;
    border-radius: var(--defaultBorderRadius);
    color: var(--highlight);
    background-color: var(--section);
    opacity: 1;
    padding: 8px 16px;
    margin: 2px;
    cursor: pointer;
    font-size: revert; /* why are "a" links too large?? */
    user-select: none;
    transition: all 100ms ease-in-out;
}

.filter-button:hover {
    border: 2px solid var(--border);
}

.filter-button.selected {
    opacity: 1;
    background: var(--success);
    color: var(--foreground);
    border: 2px solid var(--success);
}

.filter-button.selected:hover {
    background: var(--section);
    border: 2px solid var(--border);
}