.packCard {
	flex-direction: column;
}

.downloadBox {
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.galleryPackCard {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;

	max-width: 100%;
	width: 100%;
	flex-shrink: 1;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.07);
	border-radius: var(--defaultBorderRadius);
	border: 0.125rem solid var(--border);

	transition: all 0.2s;
	/* overflow: hidden; */
	/* position: absolute; */
	/* bottom: 0; */
}

.galleryPackCard > .packInfo {
	display: grid;
	padding: 1rem 1rem 1rem 1rem;

	width: 100%;
	box-sizing: border-box;

	align-items: center;
	column-gap: 1rem;

	grid-template-areas:
		"name"
		"description"
		"open";

	grid-template-columns: 1fr;

	background-color: var(--section);
	border-radius: 0 0 var(--defaultBorderRadius) var(--defaultBorderRadius);
}

.galleryPackCardContainer.displayGallery {
	z-index: 10;
	overflow: visible;
}

.galleryPackCard.displayGallery {
	height: unset;
	max-height: 24rem;
	position: absolute;
	bottom: 0;
}

.galleryPackCard.displayGallery > .packInfo {
	padding: 1rem;
	grid-template-areas: "name open";
	/* "author author open"; */

	gap: 0;
}

.galleryPackCard.displayGallery > .galleryImage {
	border-radius: var(--defaultBorderRadius);
}

.galleryPackCard > .galleryImage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	/* overflow: hidden; */
	width: 100%;
	flex-direction: column;
	border-radius: var(--defaultBorderRadius) var(--defaultBorderRadius) 0 0;
	background-color: var(--section);
	border-top: 0.125rem solid var(--border);
	margin-top: -0.125rem;
}

.galleryPackCard > .galleryImage > img {
	user-select: none;
	-webkit-user-drag: none;
	border-radius: var(--defaultBorderRadius) var(--defaultBorderRadius) 0 0;
}

.galleryPackCard > .packInfo > .author,
.galleryPackCard > .packInfo > .footer,
.galleryPackCard > .packInfo > .description {
	text-overflow: ellipsis;
	overflow: hidden;
	line-height: 20px;
	width: 100%;
}

.galleryPackCard > .packInfo > .description {
	display: -webkit-box;
	-webkit-box-orient: vertical;

	-webkit-line-clamp: 2;
	height: 40px;
	max-height: 40px;

	margin: 0.5rem 0 1rem 0;

	grid-area: description;
	box-sizing: border-box;
	opacity: 0.5;
}

.galleryPackCard > .packInfo > .author {
	height: 20px;
	max-height: 20px;

	gap: 0.375rem;
	justify-content: start;
	font-weight: 300;
	opacity: 0.5;
	grid-area: author;

	white-space: nowrap;
	word-wrap: break-word;
}

.galleryPackCard > .footer {
	grid-area: footer;
	box-sizing: border-box;

	width: 100%;
	padding: 0.375rem 1rem 0.375rem 1rem;

	background-color: var(--bold);

	display: flex;
	flex-direction: row;
	gap: 0.5rem;

	align-items: center;
}

/* @container galleryPackCardContainer (max-width: 20rem) {
    .galleryPackCard>.packInfo {
        grid-template-areas:
            "name name"
            "description description"
            "author author"
            "open open";
    }
} */

.galleryPackCardContainer {
	container: galleryPackCardContainer;
	container-type: inline-size;
	width: 100%;
	position: relative;
}

.galleryPackCard {
	.galleryImage {
		.infoBox {
			position: absolute;
			padding: 0.25rem 1rem;
			border-radius: calc(var(--defaultBorderRadius) * 0.5);
			overflow: hidden;
			flex-direction: row;
			z-index: 0;
			gap: 1rem;
			background-color: rgba(0, 0, 0, 0.2);
			backdrop-filter: blur(10px);
		}

		.carousel {
			opacity: 0;
			transition: opacity 0.1s ease-in-out;
		}
	}

	.galleryImage:hover {
		.carousel {
			opacity: 1;
		}
	}

	div:has(> .thumbnail) {
		position: relative;
	}

	div:has(> .thumbnail)::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transition: all 0.1s ease-in-out;
	}

	div:has(> .thumbnail.transition)::after {
		backdrop-filter: blur(0.125rem) grayscale(50%);
	}
}

@keyframes galleryPackCardShake {
	33% {
		transform: translateX(-1rem);
	}
	66% {
		transform: translateX(1rem);
	}
	100% {
		transform: translateX(0rem);
	}
}
