.navButtonClosed {
	opacity: 0.5;
}

.navButtonClosed:hover {
	opacity: 1;
}

.navBarBundle {
	background: color-mix(in srgb, var(--warning) 10%, transparent) !important;
	color: var(--warning) !important;
	width: min-content !important;
}

.navBarBundle > label {
	overflow: hidden;
	width: min-content;
}

.navBarBundle:hover {
	border: 0.125rem solid var(--warning) !important;
}

.navBarOption {
	color: var(--foreground);
	font-weight: 400;
	text-decoration: none;
	padding: 1rem;
	align-items: center;
	display: flex;
	gap: 0.25rem;
}

@keyframes navbarSlidedown {
	0% {
		opacity: 1;
		transform: translateY(0px);
		z-index: -1;
	}

	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 0;
	}

	100% {
		z-index: -1;
		opacity: 0;
		display: none;
		transform: translateY(75px);
	}
}

@keyframes navbarTooltipEnter {
	0% {
		left: 32;
		width: 0px;
		color: var(--accent);
	}

	100% {
		left: 32;
		width: calc(100%);
		color: var(--foreground);
	}
}

.navBarContainer {
	gap: 1rem;
}

@media screen and (max-width: 64rem) {
	.navBarBundle > label,
	.navBarBundle > div {
		display: none;
	}
	.navBarBundle {
		flex-grow: 0 !important;
		width: min-content !important;
	}
}

@media screen and (max-width: 52rem) {
	.navBarBundle {
		display: none !important;
	}
}

@media screen and (max-width: 56rem) {
	.navBarHide {
		display: none !important;
	}
}

@media screen and (max-width: 32rem) {

	.navBarAccount > :not(:first-child) {
		display: none;
	}

	.navBarModal  .modalContent {
		margin-right: 8rem;
	}

	/* .navBarOption > *:not(:first-child) {
		display: none;
	}

	.navBarOption, .navBarModal {
		height: 3rem !important;
		flex-grow: 1;
	}

	.navBarOption:nth-child(4) {
		border-radius: var(--defaultBorderRadius) 0 0 var(--defaultBorderRadius);
	}

	.navBarOption:not(:nth-child(4)):not(:last-child) {
		border-radius: 0;
	}

	.navBarOption:last-child, .navBarOption.end {
		border-radius: 0 var(--defaultBorderRadius) var(--defaultBorderRadius) 0 !important;
	} */
}
