


.packCard {
    flex-direction: column;
}
.downloadBox {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

@container cardContainer (max-width: 320px) {
    .packImage {
        display: none;
        width: 0px;
        height: 0px;
    }
}

@container cardContainer (min-width: 320px) and (max-width: 512px) {
    .packImage {
        width: 64px;
        height: 64px;
    }    
}

@container cardContainer (min-width: 512px) {
    .packImage {
        width: 128px;
        height: 128px;
    }
    .packCard {
        flex-direction: row;
    }
    .downloadBox {
        flex-direction: column;
        align-items: end;
        width: min-content;
        justify-content: start;
    }
}

.packCard {
    display: flex;
    align-items: flex-start;

    justify-content: left;
    gap: 16px;
    max-width: 100%;
    width: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    background-color: var(--backgroundAccent);
    border-radius: var(--defaultBorderRadius);
    padding: 16px;
    cursor: pointer;
}

.cardContainer {
    container-type: inline-size;
    container-name: cardContainer;
    
    width: 100%;
    height: 100%;
}


.packCard:hover {
    background:
        linear-gradient(rgba(0.0, 0.0, 0.0, 0.1), rgba(0.0, 0.0, 0.0, 0.1)),
        linear-gradient(var(--backgroundAccent), var(--backgroundAccent));
}

.packCard:active {
    background:
        linear-gradient(rgba(0.0, 0.0, 0.0, 0.2), rgba(0.0, 0.0, 0.0, 0.2)),
        linear-gradient(var(--backgroundAccent), var(--backgroundAccent));
}



.downloadBox {
    height: min-content;
}

