.packCard {
    flex-direction: column;
}

.downloadBox {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}



.packCard {
    display: flex;
    align-items: flex-start;

    justify-content: left;
    gap: 0.5rem;
    max-width: 100%;
    width: 100%;
    flex-shrink: 1;
    box-sizing: border-box;
    background-color: var(--section);
    border-radius: var(--defaultBorderRadius);
    padding: 16px;

    position: relative;
}

.packCardDescription {
    line-height: 20px;
    -webkit-line-clamp: 2;
    margin: 0;
    max-height: 40;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    grid-area: description;
}


.packCardName {
    grid-area: name;
    display: flex;
    align-self: end;

    font-weight: 700;
    font-size: 1.5rem;
}

.packCardImage {
    width: 4rem;
    height: 4rem;

    border-radius: calc(var(--defaultBorderRadius) / 2);
    background-color: var(--border);
    aspect-ratio: 1/1;

    grid-area: image;
    align-self: center;
}


.packCardDetails {
    display: grid;
    grid-template-areas:
        "image name"
        "image description";

    grid-template-rows: auto auto;
    row-gap: 0;
    column-gap: 1rem;

    place-items: start;
}


.packCardInfo {
    font-size: 1rem; 
    opacity: 0.25;
    margin: 0;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: baseline;
}

.packCardInfoSeperator {
    display: flex;
    align-items: center;
}

@container cardContainer (max-width: 43rem) {
    .packCardImage {
        width: 2rem;
        height: 2rem;
    }
    .packCardName {
        font-size: 1rem;
        align-self: center;
    }
    .packCardDetails {
        grid-template-areas: 
            "image name"
            "description description";

        grid-template-columns: auto 1fr;
        row-gap: 1rem;
    }
    .packCardInfoSeperator, .packCardUpdateInfo {
        display: none;
    }
    .packCardInfo {
        flex-direction: column;
        gap: 0;
        font-size: 0.75rem;
    }
    
}

.cardContainer {
    container-type: inline-size;
    container-name: cardContainer;

    width: 100%;
    height: 100%;
    position: relative;
}


.downloadBox {
    height: min-content;
}
