

@media screen and (0px <= width <= 480px) {
    .packImage {
        width: 64px;
        height: 64px;
    }
    .packCardSizing {
        flex-direction: column;
    }
    .downloadBox {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

.packImage {
    width: 64px;
    height: 64px;
}

.downloadBox {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.packCard {
    display: flex;
    align-items: flex-start;

    justify-content: left;
    gap: 16px;
    max-width: 100%;
    width: 100%;
    flex-shrink: 1;
    background-color: var(--backgroundAccent);
    border-radius: var(--defaultBorderRadius);
    padding: 16px;
    cursor: pointer;
    flex-direction: column;
}


.packCard:hover {
    background:
        linear-gradient(rgba(0.0, 0.0, 0.0, 0.1), rgba(0.0, 0.0, 0.0, 0.1)),
        linear-gradient(var(--backgroundAccent), var(--backgroundAccent));
}

.packCard:active {
    background:
        linear-gradient(rgba(0.0, 0.0, 0.0, 0.2), rgba(0.0, 0.0, 0.0, 0.2)),
        linear-gradient(var(--backgroundAccent), var(--backgroundAccent));
}


@media screen and (512px < width) {
    .packImage {
        width: 128px;
        height: 128px;
    }
    .packCard {
        flex-direction: row;
    }
    .downloadBox {
        flex-direction: column;
        align-items: end;
        width: min-content;
        justify-content: start;
    }
}


.downloadBox {
    height: min-content;
}

