#summit-schedule {
	display: grid;
	/* flex-direction: row; */
	width: 100%;
	gap: 2rem;

	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

	.column {
		display: flex;
		flex-direction: column;

		gap: 1rem;

		.header {
			text-align: center;
			font-size: 1.25rem;
			font-weight: 600;
		}

		.event {
			position: relative;
		}

		.card {
			display: flex;
			flex-direction: column;
			box-sizing: border-box;

			padding: 0.5rem 1rem;
			background-color: var(--section);
			border-radius: var(--defaultBorderRadius);

			border: 0.125rem solid transparent;

			transition: all 0.1s ease-in-out;
		}

		.card > .nextMarker {
			display: none;
			box-sizing: border-box;

			position: absolute;
			bottom: calc(100% - 1rem);
			left: 0;

			background-color: var(--accent);

			padding: 0.2rem 1rem;
			padding-bottom: 1.25rem;
			border-radius: var(--defaultBorderRadius) var(--defaultBorderRadius)
				0 0;
			z-index: -1;
		}

		/* .event:not(.next) {
            z-index: -1;
        } */

		.card.past {
			opacity: 0.75;
		}

		.card:hover {
			border-color: var(--border);
		}

        .event:has(.card.next) {
            z-index: 1;
        }

		.card.next {
			border: 0.125rem solid var(--accent);
		}

		.card.next:hover {
			border-color: var(--accent2);
		}

		.card.next > .nextMarker {
			display: block;
		}

		.card > .time {
			font-weight: 600;
			font-size: 0.8rem;
		}
   
		.card > .tagline {
			opacity: 0.5;
		}

		.card > .host {
			font-size: 0.8rem;
			margin-top: 0.5rem;
		}
	}
}
