.bundleInfoContainer {
	margin: 5%;
}

.bundlePacksContainer {
	gap: 1rem;
	width: 180%;
	margin: 2%;
}

.editLocalPackContainer {
	width: 50%;
}

.editLocalPackTitleContainer {
	background-color: var(--section);
	justify-content: left;
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	justify-content: left;

	width: 100%;
	box-sizing: border-box;

	flex-direction: row;
	gap: 1rem;
}

.editLocalPackTitleContainer.closed {
	border-radius: 16px;
}

.editLocalPackTitleContainer.open {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	border-bottom-left-radius: 0%;
	border-bottom-right-radius: 0%;

	border-bottom: 0.125rem solid var(--border);
}

.editLocalPackIcon {
	width: 32px;
}

.editLocalPackName {
	/* width: 100%; */
	font-weight: 500;
}

.editLocalPackVersion {
	/* width: 100%; */
	color: var(--highlight);
	font-weight: 700;
}

.editLocalPackArrow.open {
	transform: rotate(90deg);
}

.editLocalPackDropdown {
	background-color: var(--section);
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
}
